.social .inline-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}
.social .single-item-icon-box {
    margin: 0 auto;
    text-align: center;
}
.social .single-item-icon-box a {
    display: block;
}
.social.icon-circle-bg .single-item-icon-box {
    border-radius: 50%;
    background: #f3f3f4;
    color: #c4c4c4;
}
.social.icon-circle-border .single-item-icon-box {
    border-radius: 50%;
    border: 1px solid #f3f3f4;
    color: #c4c4c4;
}
.social.icon-square-bg .single-item-icon-box {
    background: #f3f3f4;
    color: #c4c4c4;
}
.social.icon-square-border .single-item-icon-box {
    border: 1px solid #f3f3f4;
    color: #c4c4c4;
}
.social .social-item:first-child .single-item {
    margin-left: 0;
}
.social .social-item:last-child .single-item {
    margin-right: 0;
}
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons li {
    display: inline-block;
}
.social-icons li:not(:last-child) {
    margin-right: 10px;
}
.social-single-icon {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
