.button .css-2o5izw,
.button-secondary .css-2o5izw {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    border: medium none;
    height: auto;
}
.icon-hide.button .button-icon,
.icon-hide.button-secondary .button-icon {
    display: none;
}
.icon-after.button,
.icon-after.button-secondary {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.icon-after.button .button-icon,
.icon-after.button-secondary .button-icon {
    margin-left: 8px;
}
.icon-before.button .button-icon,
.icon-before.button-secondary .button-icon {
    margin-right: 8px;
}
.button .css-2o5izw,
.button-secondary .css-2o5izw {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    border: medium none;
    height: auto;
}
.icon-hide.button .button-icon,
.icon-hide.button-secondary .button-icon {
    display: none;
}
.icon-after.button,
.icon-after.button-secondary {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.icon-after.button .button-icon,
.icon-after.button-secondary .button-icon {
    margin-left: 8px;
}
.icon-before.button .button-icon,
.icon-before.button-secondary .button-icon {
    margin-right: 8px;
}
.alignfull > .grid-container {
    max-width: 100%;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-center .editor-url-input input {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-right .editor-url-input input {
    text-align: right;
}
.text-align-left-mobile {
    text-align: left;
}
.text-align-right-mobile {
    text-align: right;
}
.text-align-center-mobile {
    text-align: center;
}
.text-align-justify-mobile {
    text-align: justify;
}
@media (min-width: 768px) {
    .text-align-left-tablet {
        text-align: left;
    }
    .text-align-right-tablet {
        text-align: right;
    }
    .text-align-center-tablet {
        text-align: center;
    }
    .text-align-justify-tablet {
        text-align: justify;
    }
}
@media (min-width: 992px) {
    .text-align-left-desktop {
        text-align: left;
    }
    .text-align-right-desktop {
        text-align: right;
    }
    .text-align-center-desktop {
        text-align: center;
    }
    .text-align-justify-desktop {
        text-align: justify;
    }
}
.g-f-l-m {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.g-f-r-m {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.g-f-c-m {
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .g-f-l-t {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .g-f-r-t {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .g-f-c-t {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .g-f-l-d {
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .g-f-r-d {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .g-f-c-d {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.enabled-width.text-align-left-mobile,
.enabled-width.text-align-left-tablet,
.enabled-width.text-align-left-desktop,
.enabled-width.text-align-right-mobile,
.enabled-width.text-align-right-tablet,
.enabled-width.text-align-right-desktop,
.enabled-width.text-align-center-mobile,
.enabled-width.text-align-center-tablet,
.enabled-width.text-align-center-desktop {
    display: -ms-flexbox;
    display: flex;
}
.enabled-width.text-align-center-mobile {
    -ms-flex-pack: center;
    justify-content: center;
}
.enabled-width.text-align-right-mobile {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.enabled-width.text-align-left-mobile {
    -ms-flex-pack: start;
    justify-content: start;
}
@media (min-width: 768px) {
    .enabled-width.text-align-center-tablet {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .enabled-width.text-align-right-tablet {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .enabled-width.text-align-left-tablet {
        -ms-flex-pack: start;
        justify-content: start;
    }
}
@media (min-width: 992px) {
    .enabled-width.text-align-center-desktop {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .enabled-width.text-align-right-desktop {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .enabled-width.text-align-left-desktop {
        -ms-flex-pack: start;
        justify-content: start;
    }
}
.position-default-mobile {
    position: inherit;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    width: auto;
}
.position-relative-mobile {
    position: relative;
}
.position-absolute-mobile {
    position: absolute;
}
.position-fixed-mobile {
    position: fixed;
}
.position-static-mobile {
    position: static;
}
@media (min-width: 768px) {
    .position-default-mobile {
        position: inherit;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        width: auto;
    }
    .position-relative-tablet {
        position: relative;
    }
    .position-absolute-tablet {
        position: absolute;
    }
    .position-fixed-tablet {
        position: fixed;
    }
    .position-static-tablet {
        position: static;
    }
}
@media (min-width: 992px) {
    .position-default-desktop {
        position: inherit;
        left: inherit !important;
        right: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
        width: auto !important;
    }
    .position-relative-desktop {
        position: relative;
    }
    .position-absolute-desktop {
        position: absolute;
    }
    .position-fixed-desktop {
        position: fixed;
    }
    .position-static-desktop {
        position: static;
    }
}
.g-pos-d-mobile {
    position: inherit;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    width: auto;
}
.g-pos-r-mobile {
    position: relative;
}
.g-pos-a-mobile {
    position: absolute;
}
.g-pos-f-mobile {
    position: fixed;
}
.g-pos-s-mobile {
    position: static;
}
@media (min-width: 768px) {
    .g-pos-d-tablet {
        position: inherit;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
        width: auto;
    }
    .g-pos-r-tablet {
        position: relative;
    }
    .g-pos-a-tablet {
        position: absolute;
    }
    .g-pos-f-tablet {
        position: fixed;
    }
    .g-pos-s-tablet {
        position: static;
    }
}
@media (min-width: 992px) {
    .g-pos-d-desktop {
        position: inherit;
        left: inherit !important;
        right: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
        width: auto !important;
    }
    .g-pos-r-desktop {
        position: relative;
    }
    .g-pos-a-desktop {
        position: absolute;
    }
    .g-pos-f-desktop {
        position: fixed;
    }
    .g-pos-s-desktop {
        position: static;
    }
}
.rm-ct-space {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (min-width: 768px) {
    .rm-ct-space-t {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (min-width: 992px) {
    .rm-ct-space-d {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.rm-row-space {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
@media (min-width: 768px) {
    .rm-row-space-t {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 992px) {
    .rm-row-space-d {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.rm-col-space {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
@media (min-width: 768px) {
    .rm-col-space-t {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
@media (min-width: 992px) {
    .rm-col-space-d {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
.g-c-r-valign-mobile {
    display: block;
}
@media (min-width: 768px) {
    .g-c-r-valign-tablet {
        display: block !important;
    }
}
@media (min-width: 992px) {
    .g-c-r-valign-desktop {
        display: block !important;
    }
}
.g-valign-t-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.g-valign-b-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.g-valign-c-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .g-valign-t-tablet {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .g-valign-b-tablet {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .g-valign-c-tablet {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .g-valign-t-desktop {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .g-valign-b-desktop {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .g-valign-c-desktop {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .d-lg-none.g-c-r-valign-desktop {
        display: none !important;
    }
    .d-lg-none.g-valign-t-desktop,
    .d-lg-none.g-valign-b-desktop,
    .d-lg-none.g-valign-c-desktop {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .d-md-none.d-lg-block.g-c-r-valign-desktop {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-md-none.d-lg-block.g-valign-t-desktop,
    .d-md-none.d-lg-block.g-valign-b-desktop,
    .d-md-none.d-lg-block.g-valign-c-desktop {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}
@media (min-width: 768px) {
    .d-md-none.g-c-r-valign-tablet {
        display: none !important;
    }
    .d-md-none.g-valign-t-tablet,
    .d-md-none.g-valign-b-tablet,
    .d-md-none.g-valign-c-tablet {
        display: none !important;
    }
}
.btn-link i {
    margin-right: 8px;
}
.btn-full-mobile .button {
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
}
@media (min-width: 768px) {
    .btn-full-tablet .button {
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 100%;
    }
}
.btn-custom-mobile .button {
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width: 992px) {
    .btn-custom-tablet .button {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .btn-full-desktop .button {
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 100%;
    }
    .btn-custom-desktop .button {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.button,
.button-secondary {
    margin-top: 30px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    line-height: normal;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.button .button-icon,
.button-secondary .button-icon {
    line-height: normal;
    font-size: 14px;
}
.button-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.button-group .button:not(:last-child) {
    margin-right: 20px;
}
.button-group.flex-align-left {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.button-group.flex-align-center {
    -ms-flex-pack: center;
    justify-content: center;
}
.button-group.flex-align-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.button-group.btn-full-mobile {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}
.button-group.btn-full-mobile .button {
    max-width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
}
.button-group.btn-full-mobile .button:not(:last-child) {
    margin-right: 0;
}
@media (min-width: 768px) {
    .button-group.btn-full-tablet {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .button-group.btn-full-tablet .button {
        max-width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .button-group.btn-full-tablet .button:not(:last-child) {
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .button-group.btn-full-desktop {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .button-group.btn-full-desktop .button {
        max-width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .button-group.btn-full-desktop .button:not(:last-child) {
        margin-right: 0;
    }
}
.active .section .grid-row [class*="grid-"],
.active .section .grid-row [class^="grid-"] {
    margin-top: 15px;
    margin-bottom: 15px;
}
.active
    .section.dynamic-columns
    .grid-row
    [class*="grid-"]
    .grid-row
    [class*="grid-"],
.active
    .section.dynamic-columns
    .grid-row
    [class*="grid-"]
    .grid-row
    [class^="grid-"],
.active
    .section.dynamic-columns
    .grid-row
    [class^="grid-"]
    .grid-row
    [class*="grid-"],
.active
    .section.dynamic-columns
    .grid-row
    [class^="grid-"]
    .grid-row
    [class^="grid-"] {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.active .section i.fas,
.active .section i.far,
.active .section i.fab,
.active .section i.fa,
.active .section i.fal,
.active .section i.dashicons {
    font-style: normal;
}
.active .section a {
    text-decoration: none;
}
.active .single-item-title {
    margin-bottom: 10px;
}
.active .single-item-title:before {
    display: none;
}
.active .single-item-title a {
    font-size: inherit;
}
.active .grid-row .grid-container {
    max-width: 100%;
}
.section {
    background-color: #fff;
}
.section:not(.dynamic-single-column) {
    padding: 0;
}
@media (max-width: 575px) {
    .section.mobile-fullWidth .single-item .grid-row [class*="grid-"],
    .section.mobile-fullWidth .single-item .grid-row [class^="grid-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .section.mobile-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section.mobile-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container
        .slider-caption,
    .section.mobile-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container
        .caption-image {
        width: 100% !important;
    }
}
@media (max-width: 575px) {
    .section.mobile-fullWidth.featured-block .featured-content-row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section.mobile-fullWidth.featured-block
        .featured-content-row
        .single-item-image-box,
    .section.mobile-fullWidth.featured-block
        .featured-content-row
        .single-item-content {
        width: 100% !important;
    }
}
@media (max-width: 575px) {
    .section.mobile-fullWidth.calltoaction .single-item {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .section.mobile-fullWidth.calltoaction .single-item .single-item-image-box,
    .section.mobile-fullWidth.calltoaction .single-item .single-item-content {
        width: 100% !important;
        margin: 0;
    }
}
@media (max-width: 767px) {
    .section.tablet-fullWidth .single-item .grid-row [class*="grid-"],
    .section.tablet-fullWidth .single-item .grid-row [class^="grid-"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .section.tablet-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section.tablet-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container
        .slider-caption,
    .section.tablet-fullWidth.imageSlider-template2
        .single-item-content
        .grid-container
        .caption-image {
        width: 100% !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .section.tablet-fullWidth.featured-block .featured-content-row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section.tablet-fullWidth.featured-block
        .featured-content-row
        .single-item-image-box,
    .section.tablet-fullWidth.featured-block
        .featured-content-row
        .single-item-content {
        width: 100% !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .section.tablet-fullWidth.calltoaction .single-item {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .section.tablet-fullWidth.calltoaction .single-item .single-item-image-box,
    .section.tablet-fullWidth.calltoaction .single-item .single-item-content {
        width: 100% !important;
        margin: 0;
    }
}
.has-block-shape-top,
.has-block-shape-bottom {
    position: relative;
}
.has-block-shape-top .grid-container,
.has-block-shape-bottom .grid-container {
    position: relative;
    z-index: 2;
}
.block-shape-top,
.block-shape-bottom {
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition:
        transform 0.8s,
        -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.section:not(.block-shape-bottom-bring-front) .grid-item-wrap,
.element:not(.block-shape-bottom-bring-front) .grid-item-wrap,
.module:not(.block-shape-bottom-bring-front) .grid-item-wrap,
.post-module:not(.block-shape-bottom-bring-front) .grid-item-wrap {
    position: relative;
    z-index: 3;
}
.section.block-shape-bottom-bring-front .block-shape-bottom,
.element.block-shape-bottom-bring-front .block-shape-bottom,
.module.block-shape-bottom-bring-front .block-shape-bottom,
.post-module.block-shape-bottom-bring-front .block-shape-bottom {
    z-index: 3;
}
.section.block-shape-top-bring-front .block-shape-top,
.element.block-shape-top-bring-front .block-shape-top,
.module.block-shape-top-bring-front .block-shape-top,
.post-module.block-shape-top-bring-front .block-shape-top {
    z-index: 3;
}
.section .block-shape-bottom,
.section .block-shape-top,
.element .block-shape-bottom,
.element .block-shape-top,
.module .block-shape-bottom,
.module .block-shape-top,
.post-module .block-shape-bottom,
.post-module .block-shape-top {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.section .block-shape-bottom span,
.section .block-shape-top span,
.element .block-shape-bottom span,
.element .block-shape-top span,
.module .block-shape-bottom span,
.module .block-shape-top span,
.post-module .block-shape-bottom span,
.post-module .block-shape-top span {
    display: block;
    line-height: 0;
    font-size: 0;
}
.section .block-shape-top,
.element .block-shape-top,
.module .block-shape-top,
.post-module .block-shape-top {
    top: 0;
}
.section .block-shape-bottom,
.element .block-shape-bottom,
.module .block-shape-bottom,
.post-module .block-shape-bottom {
    bottom: -1px;
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.section.bottom-block-shape-img .block-shape-bottom,
.element.bottom-block-shape-img .block-shape-bottom,
.module.bottom-block-shape-img .block-shape-bottom,
.post-module.bottom-block-shape-img .block-shape-bottom {
    bottom: -1px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
.tshape-fv .block-shape-top {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.tshape-hv .block-shape-top {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}
.tshape-hv.tshape-fv .block-shape-top {
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.bshape-fv .block-shape-bottom {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
.bshape-fv.bottom-block-shape-img .block-shape-bottom {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}
.bshape-hv .block-shape-bottom {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.bshape-hv.bottom-block-shape-img .block-shape-bottom {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.bshape-fv.bshape-hv .block-shape-bottom {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
.bshape-fv.bshape-hv.bottom-block-shape-img .block-shape-bottom {
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.advanced-columns.section,
.advanced-columns .section {
    background-color: rgba(0, 0, 0, 0);
}
.has-overlay {
    position: relative;
    z-index: 1;
}
.has-overlay:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body:not(.wp-admin) .has-overlay {
    overflow: hidden;
}
body:not(.wp-admin) .wow {
    visibility: hidden;
}
body.editor-styles-wrapper .wow {
    visibility: visible;
}
.has-video-bg {
    position: relative;
    z-index: 1;
}
.has-video-bg .bg-video {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}
.has-video-bg video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.social-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
}
.social-wrap .social-item {
    display: inline-block;
}
@media (max-width: 767px) {
    .mbl-full-width-column .col-wrap,
    .mbl-full-width-column .single-column {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 991px) {
    .g-tablet-full-width-col .col-wrap,
    .g-tablet-full-width-col .single-column {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}
@media (min-width: 992px) {
    .g-desktop-full-width-col .col-wrap,
    .g-desktop-full-width-col .single-column {
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}
.equal-column-height
    > .grid-container
    > .grid-row
    > .single-column
    > .col-wrap {
    height: 100%;
}
.equal-column-height
    > .grid-container
    > .grid-row
    > .dynamic-single-column
    > .single-col {
    height: 100%;
}
.disabled {
    cursor: not-allowed !important;
    opacity: 0.7;
}
.module-carousel .slick-arrows,
.post-module .slick-arrows,
.term-module .slick-arrows {
    display: -ms-flexbox;
    display: flex;
}
.module-carousel .slick-arrows .slick-prev,
.module-carousel .slick-arrows .slick-next,
.post-module .slick-arrows .slick-prev,
.post-module .slick-arrows .slick-next,
.term-module .slick-arrows .slick-prev,
.term-module .slick-arrows .slick-next {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.module-carousel .slick-arrows .slick-prev,
.post-module .slick-arrows .slick-prev,
.term-module .slick-arrows .slick-prev {
    margin-right: 10px;
}
.slick-a-t-left-mobile > .grid-container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}
.slick-a-t-left-mobile > .grid-container .slick-arrows {
    position: absolute;
    top: 0;
    bottom: inherit;
    left: 15px;
    right: inherit;
    margin-top: 20px;
}
.slick-a-t-left-mobile > .grid-container.rm-ct-space .slick-arrows {
    left: 0;
    right: inherit;
}
.slick-a-t-right-mobile > .grid-container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
}
.slick-a-t-right-mobile > .grid-container .slick-arrows {
    position: absolute;
    top: 0;
    bottom: inherit;
    right: 15px;
    left: inherit;
    margin-top: 20px;
}
.slick-a-t-right-mobile > .grid-container.rm-ct-space .slick-arrows {
    right: 0;
    left: inherit;
}
.slick-a-b-left-mobile > .grid-container {
    position: relative;
    padding-bottom: 20px;
}
.slick-a-b-left-mobile > .grid-container .slick-arrows {
    position: absolute;
    bottom: 0;
    top: inherit;
    left: 15px;
    right: inherit;
    margin-top: 20px;
}
.slick-a-b-left-mobile > .grid-container.rm-ct-space .slick-arrows {
    left: 0;
    right: inherit;
}
.slick-a-b-right-mobile > .grid-container {
    position: relative;
    padding-bottom: 20px;
}
.slick-a-b-right-mobile > .grid-container .slick-arrows {
    position: absolute;
    bottom: 0;
    top: inherit;
    right: 15px;
    left: inherit;
    margin-top: 20px;
}
.slick-a-b-right-mobile > .grid-container.rm-ct-space .slick-arrows {
    right: 0;
    left: inherit;
}
@media (min-width: 768px) {
    .slick-a-t-left-tablet > .grid-container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .slick-a-t-left-tablet > .grid-container .slick-arrows {
        position: absolute;
        top: 0;
        bottom: inherit;
        left: 15px;
        right: inherit;
        margin-top: 20px;
    }
    .slick-a-t-left-tablet > .grid-container.rm-ct-space .slick-arrows {
        left: 0;
        right: inherit;
    }
    .slick-a-t-right-tablet > .grid-container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .slick-a-t-right-tablet > .grid-container .slick-arrows {
        position: absolute;
        top: 0;
        bottom: inherit;
        right: 15px;
        left: inherit;
        margin-top: 20px;
    }
    .slick-a-t-right-tablet > .grid-container.rm-ct-space .slick-arrows {
        right: 0;
        left: inherit;
    }
    .slick-a-b-left-tablet > .grid-container {
        position: relative;
        padding-bottom: 20px;
    }
    .slick-a-b-left-tablet > .grid-container .slick-arrows {
        position: absolute;
        bottom: 0;
        top: inherit;
        left: 15px;
        right: inherit;
        margin-top: 20px;
    }
    .slick-a-b-left-tablet > .grid-container.rm-ct-space .slick-arrows {
        left: 0;
        right: inherit;
    }
    .slick-a-b-right-tablet > .grid-container {
        position: relative;
        padding-bottom: 20px;
    }
    .slick-a-b-right-tablet > .grid-container .slick-arrows {
        position: absolute;
        bottom: 0;
        top: inherit;
        right: 15px;
        left: inherit;
        margin-top: 20px;
    }
    .slick-a-b-right-tablet > .grid-container.rm-ct-space .slick-arrows {
        right: 0;
        left: inherit;
    }
}
@media (min-width: 992px) {
    .slick-a-t-left-desktop > .grid-container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .slick-a-t-left-desktop > .grid-container .slick-arrows {
        position: absolute;
        top: 0;
        bottom: inherit;
        left: 15px;
        right: inherit;
        margin-top: 20px;
    }
    .slick-a-t-left-desktop > .grid-container.rm-ct-space .slick-arrows {
        left: 0;
        right: inherit;
    }
    .slick-a-t-right-desktop > .grid-container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .slick-a-t-right-desktop > .grid-container .slick-arrows {
        position: absolute;
        top: 0;
        bottom: inherit;
        right: 15px;
        left: inherit;
        margin-top: 20px;
    }
    .slick-a-t-right-desktop > .grid-container.rm-ct-space .slick-arrows {
        right: 0;
        left: inherit;
    }
    .slick-a-b-left-desktop > .grid-container {
        position: relative;
        padding-bottom: 20px;
    }
    .slick-a-b-left-desktop > .grid-container .slick-arrows {
        position: absolute;
        bottom: 0;
        top: inherit;
        left: 15px;
        right: inherit;
        margin-top: 20px;
    }
    .slick-a-b-left-desktop > .grid-container.rm-ct-space .slick-arrows {
        left: 0;
        right: inherit;
    }
    .slick-a-b-right-desktop > .grid-container {
        position: relative;
        padding-bottom: 20px;
    }
    .slick-a-b-right-desktop > .grid-container .slick-arrows {
        position: absolute;
        bottom: 0;
        top: inherit;
        right: 15px;
        left: inherit;
        margin-top: 20px;
    }
    .slick-a-b-right-desktop > .grid-container.rm-ct-space .slick-arrows {
        right: 0;
        left: inherit;
    }
}
.module-slider .slick-arrows {
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.module-slider .slick-arrows .slick-prev,
.module-slider .slick-arrows .slick-next {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.module-slider .slick-arrows .slick-prev {
    margin-right: 10px;
}
.module-slider.slick-a-t-left-desktop {
    position: relative;
}
.module-slider.slick-a-t-left-desktop .slick-arrows {
    position: absolute;
    top: 0;
    bottom: inherit;
    left: 15px;
    right: inherit;
    margin-top: 20px;
}
.module-slider.slick-a-t-right-desktop {
    position: relative;
}
.module-slider.slick-a-t-right-desktop .slick-arrows {
    position: absolute;
    top: 0;
    bottom: inherit;
    right: 15px;
    left: inherit;
    margin-top: 20px;
}
.module-slider.slick-a-b-left-desktop {
    position: relative;
}
.module-slider.slick-a-b-left-desktop .slick-arrows {
    position: absolute;
    bottom: 0;
    top: inherit;
    left: 15px;
    right: inherit;
    margin-top: 20px;
}
.module-slider.slick-a-b-right-desktop {
    position: relative;
}
.module-slider.slick-a-b-right-desktop .slick-arrows {
    position: absolute;
    bottom: 0;
    top: inherit;
    right: 15px;
    left: inherit;
    margin-top: 20px;
}
body.rtl .carousel-row .slick-arrow .fa-angle-left,
body.rtl .carousel-row .slick-arrow .fa-angle-right,
body.rtl .image-slider .slick-arrow .fa-angle-left,
body.rtl .image-slider .slick-arrow .fa-angle-right,
body.rtl .post-module-p1 .slick-arrow .fa-angle-left,
body.rtl .post-module-p1 .slick-arrow .fa-angle-right,
body.rtl .module-carousel .slick-arrow .fa-angle-left,
body.rtl .module-carousel .slick-arrow .fa-angle-right,
body.rtl .module-slider .slick-arrow .fa-angle-left,
body.rtl .module-slider .slick-arrow .fa-angle-right {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.g-single-column-link-enabled {
    position: relative;
}
.g-single-column-link-enabled .link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.g-link-enabled {
    position: relative;
}
.g-link-enabled .link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
@supports (-webkit-touch-callout: none) {
    .post-module,
    .module,
    .has-image-bg {
        background-attachment: scroll !important;
    }
}
.g-v-popup .g-v-box,
.g-v-popup .g-v-img-box {
    position: relative;
}
.g-v-popup-enabled video,
.g-v-popup-enabled iframe {
    pointer-events: none;
}
.g-v-popup video {
    -o-object-fit: cover;
    object-fit: cover;
}
.g-v-popup-no-thumb:not(.g-v-enabled) .g-v-btn {
    position: static;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.g-v-popup-c .g-v-btn,
.g-v-popup-c .g-v-fp-btn {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.g-v-popup-t-l .g-v-btn,
.g-v-popup-t-l .g-v-fp-btn {
    left: 20px;
    top: 20px;
}
.g-v-popup-t-r .g-v-btn,
.g-v-popup-t-r .g-v-fp-btn {
    right: 20px;
    top: 20px;
}
.g-v-popup-b-l .g-v-btn,
.g-v-popup-b-l .g-v-fp-btn {
    left: 20px;
    bottom: 20px;
}
.g-v-popup-b-r .g-v-btn,
.g-v-popup-b-r .g-v-fp-btn {
    right: 20px;
    bottom: 20px;
}
.g-v-box {
    height: 100%;
}
.g-v-btn {
    position: absolute;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.g-v-player {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.g-v-fp-popup .g-v-fp-box,
.g-v-fp-popup .g-v-fp-img-box {
    position: relative;
}
.g-v-fp-popup-enabled video,
.g-v-fp-popup-enabled iframe {
    pointer-events: none;
}
.g-v-fp-popup-no-thumb .g-v-fp-btn {
    position: static;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.g-v-fp video {
    -o-object-fit: cover;
    object-fit: cover;
}
.g-v-fp-btn {
    position: absolute;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.g-v-fp-player {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.g-equal-height .post-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.g-equal-height .button-wrap {
    margin-top: auto;
}
.g-equal-height .slick-track {
    display: -ms-flexbox !important;
    display: flex !important;
}
.g-equal-height .slick-slide {
    height: inherit !important;
}
.g-nothing-found {
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    padding: 40px;
    margin: 15px;
}
.g-s-pos-v-h-c {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}
.g-s-pos-v-c {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}
.g-s-pos-h-c {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}
.g-s-pos-custom {
    top: 0;
    left: 0;
    position: absolute;
}
.wp-site-blocks [class*="wp-block-"] img {
    max-width: 100%;
    height: auto;
}
.adv-s-m-c {
    display: none;
}
.g-show-more-content .adv-s-m-c {
    display: block;
}
.g-show-more-content .adv-s-l-c {
    display: none;
}
.g-m-popover {
    position: relative;
    z-index: 1;
}
.g-m-popover-normal {
    cursor: pointer;
}
.g-m-popover-content {
    position: absolute;
    z-index: 2;
}
.g-m-popover.g-popover-t .g-m-popover-content {
    bottom: 100%;
    left: 0;
}
.g-m-popover.g-popover-r .g-m-popover-content {
    top: 0;
    right: 0;
}
.g-m-popover.g-popover-l .g-m-popover-content {
    top: 0;
    left: 0;
}
.g-m-popover.g-popover-b .g-m-popover-content {
    top: 100%;
    left: 0;
}
.g-hover-enabled .g-has-hover {
    position: relative;
}
.g-hover-enabled .g-has-hover .g-hover-content {
    position: absolute;
}
.g-hover-enabled.g-image-hover-style-d .g-has-hover .g-hover-content {
    display: none;
}
.g-hover-enabled.g-image-hover-style-d .g-has-hover:hover .g-hover-content {
    display: block;
}
.g-hover-enabled.g-image-hover-style-1 .g-has-hover .g-hover-content {
    display: none;
}
.g-hover-enabled.g-image-hover-style-1 .g-has-hover .normal-image,
.g-hover-enabled.g-image-hover-style-1 .g-has-hover .bg-image {
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}
.g-hover-enabled.g-image-hover-style-1 .g-has-hover:hover .g-hover-content {
    display: block;
}
.g-hover-enabled.g-image-hover-style-1 .g-has-hover:hover .normal-image,
.g-hover-enabled.g-image-hover-style-1 .g-has-hover:hover .bg-image {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}
.g-hover-enabled.g-image-hover-style-2 .g-has-hover .g-hover-content {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.g-hover-enabled.g-image-hover-style-2 .g-has-hover:hover .g-hover-content {
    opacity: 0.9;
}
.g-hover-enabled.g-image-hover-style-2
    .g-has-hover:hover
    .g-hover-content.g-s-pos-v-c {
    -webkit-transform: translateY(-50%) rotate(0);
    -ms-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
}
.g-hover-enabled.g-image-hover-style-2
    .g-has-hover:hover
    .g-hover-content.g-s-pos-h-c {
    -webkit-transform: translateX(-50%) rotate(0);
    -ms-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
}
.g-hover-enabled.g-image-hover-style-2
    .g-has-hover:hover
    .g-hover-content.g-s-pos-v-h-c {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
}
.g-hover-enabled.g-image-hover-style-2
    .g-has-hover:hover
    .g-hover-content.g-s-pos-custom {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}
.g-hover-enabled.g-image-hover-style-3 .g-has-hover .g-hover-content {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover
    .g-hover-content.g-s-pos-v-c {
    -webkit-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover
    .g-hover-content.g-s-pos-h-c {
    -webkit-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover
    .g-hover-content.g-s-pos-v-h-c {
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover
    .g-hover-content.g-s-pos-custom {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.g-hover-enabled.g-image-hover-style-3 .g-has-hover:hover .g-hover-content {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover:hover
    .g-hover-content.g-s-pos-v-c {
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover:hover
    .g-hover-content.g-s-pos-h-c {
    -webkit-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover:hover
    .g-hover-content.g-s-pos-v-h-c {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.g-hover-enabled.g-image-hover-style-3
    .g-has-hover:hover
    .g-hover-content.g-s-pos-custom {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.g-hover-enabled.g-image-hover-style-4 .g-has-hover {
    overflow: hidden;
}
.g-hover-enabled.g-image-hover-style-4 .g-has-hover .g-hover-content {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-4 .g-has-hover .normal-image,
.g-hover-enabled.g-image-hover-style-4 .g-has-hover .bg-image {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-4 .g-has-hover:hover .g-hover-content {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-4 .g-has-hover:hover .normal-image,
.g-hover-enabled.g-image-hover-style-4 .g-has-hover:hover .bg-image {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-5 .g-has-hover {
    overflow: hidden;
}
.g-hover-enabled.g-image-hover-style-5 .g-has-hover .g-hover-content {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-5 .g-has-hover .normal-image,
.g-hover-enabled.g-image-hover-style-5 .g-has-hover .bg-image {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-5 .g-has-hover:hover .g-hover-content {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-hover-enabled.g-image-hover-style-5 .g-has-hover:hover .normal-image,
.g-hover-enabled.g-image-hover-style-5 .g-has-hover:hover .bg-image {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.g-adv-popup-top.mfp-wrap {
    height: auto !important;
}
.g-adv-popup-top .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
.admin-bar .g-adv-popup-top.mfp-wrap {
    top: 32px !important;
}
.g-adv-popup-bottom {
    top: inherit !important;
    bottom: 0 !important;
}
.g-adv-popup-bottom.mfp-wrap {
    height: auto !important;
}
.g-adv-popup-bottom .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
.g-adv-popup-side-bottom-right {
    bottom: 0;
    right: 0;
    left: inherit;
    top: inherit !important;
    height: auto !important;
}
.g-adv-popup-side-bottom-right .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
.g-adv-popup-side-bottom-left {
    bottom: 0;
    left: inherit;
    top: inherit !important;
    height: auto !important;
}
.g-adv-popup-side-bottom-left .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
.g-adv-popup-side-top-right {
    left: inherit;
    height: auto !important;
}
.g-adv-popup-side-top-right .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
.g-adv-popup-side-top-left {
    height: auto !important;
}
.g-adv-popup-side-top-left .mfp-container {
    height: auto;
    padding: 0;
    position: static;
}
